* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #1d1f2b;
	--other-chat-color: #303346;
	--user-chat-color: #6686fd;
	--primary-text-color: #ffffff;
	--border-color: blue;
	--primary-border: 1px solid var(--border-color);
	--primary-border-radius: 15px;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: var(--other-chat-color);
	color: var(--primary-text-color);
}

.container {
	width: 60%;
	margin: auto;
	height: 80vh;
}

h1 {
	text-align: center;
	margin-top: 1rem;
}

h4 {
	text-align: center;
}

.chatroom {
	margin-top: 2rem;
	height: 90%;
	background-color: var(--primary-color);
	padding: 2rem;
	border-radius: var(--primary-border-radius);

	/* display properties */
	display: flex;
	flex-direction: column;
}
